* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow: auto;
    min-height: 100vh;
}

nav {
    height: 44px;
    background-color: #FFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

section, header {
    padding: 0 16px;
}

iframe {
    width: 100%;
    height: 232px;
    border: 0;
}


h1 {
    color: #060A24;
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px;
}

h2 {
    width: 288px;
    color: #060A24;
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;    
    margin-bottom: 21px;
}

h3 {
    margin: auto;
    width: 288px;
    color: #060A24;
    font-family: "IBM Plex Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

p {
    color: #060A24;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

a, a:visited {
    color: #060A24;
}

footer {
    background-color: #FFF;
    display: flex;
    height: 121px;
    line-height: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

/* ***********************************************************************************
#######################################################################################
----------------------------- Classes styling -------------------------------
#######################################################################################
*********************************************************************************** */

.section__inicio {
    padding-top: 29px;
}

.nav__toggleButton {
    display: none;
}

.nav__logo{
    width: 24px;
    height: 24px;
    justify-self: flex-start;
    margin-left: 16px;
}

.img__logo{
    width: 100%;
    height: 100%;
}

.nav__desplegable{
    display: none;
    background-color: #0000EC;
    flex-direction: column;
    width: 100vw;
}

.nav__linkButton {
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 28px;
    margin-left: 16px;
}

.nav__linkButton:visited {
    color: #FFF;
}

.nav__linkButton:active {
    color: rgba(6, 10, 36, 0.56);
}

.nav__linkButton:hover {
    text-decoration: line-through;
    color: #00F3BB;
}

.nav__linkButton::selection {
    text-decoration: line-through;
}

.nav__li {
    height: 56px;
    line-height: 56px;
}

.label {
    margin-right: 16px;
    display: flex;
    width: 16px;
    height: 16px;
    background: no-repeat center;
    background-image: url("../images/bars-solid.svg");
}


@media screen and (max-width:767px) {

    .nav__toggleButton:checked ~ .nav__desplegable {
        position: absolute;
        top: 40px;
        display: flex;
    }

}

.nav__toggleButton:checked ~ .label {
    background-image: url("../images/times-solid.svg");
}

.inicio__text {
    margin-bottom: 36px;
}

.h1__lineThrough {
    text-decoration: line-through;
    font-style: normal;
}

.button {
    max-width: 288px;
    height: 48px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    background-color: #00F3BB;
    color: #060A24;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
}

.button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFF;
}

.episodios {
    padding-top: 64px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(
        0 calc(5vw),
        0 100%,
        100% calc(100% - 5vw),
        100% 0);
    padding-bottom: 143.5px;
}


.episodios__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 11px;
}


.nosotros {
    padding: 0 16px;
    margin-top: -115.5px;
}


.nosotros__img {
    display: flex;
    justify-self: center;
    width: 360px;
    max-width: 100vw;
    position: relative;
    padding: 27px;
    margin: 0 auto;
}

.nosotros__text {
    padding-bottom: 22px;
}

.section__title--secundary {
    color: #FFF;
}

.entrevistas {
    padding: 0;
}

.entrevistas__title {
    padding: 32px 16px 0 16px;
    margin-bottom: 14px;
}

.entrevistas__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.entrevistas__img {
    width: 100%;
}

.topicos {
    margin-top: 48px;
}

.topicos__title {
    padding-bottom: 24px;
    width: 288px;
}

.topicos__container {
    height: 932px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 42px;
}


.item__img {
    display: flex;
    height: 104px;
    width: 104px;
    margin: 13px auto;
}

.novedades {
height: 341px;
padding-top: 64px;
background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
clip-path: polygon(
    0 calc(10vw),
    0 100%,
    100% 100%,
    100% 0
    );
}
    
.novedades__title {
    width: 288px;
    margin: auto;
    margin-bottom: 36px;
    text-align: center;
}

.socials {
height: 28px;
display: flex;
color: #060A24;
justify-content: center;
}

.socials__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 227px;
}

/* --------------------------------------------------------------------------------------
#######################################################################################
********************************* Desktop Media Query ********************************* 
#######################################################################################
-------------------------------------------------------------------------------------- */

@media screen and (min-width:768px) {

nav {
    height: 80px;
}

.nav__logo {
    width: 36px;
    height: 36px;
    margin-left: 100px;
    align-self: center;
}

.img__logo {
    width: 100%;
    height: 100%;
}

.label {
    display: none;
}

.nav__toggleButton {
    display: none;
}

.nav__desplegable {
    display: flex;
    flex-direction: row;
    background: none;
    color: #060A24;
    top: 0px;
    justify-content: flex-end;
    margin-right: 100px;
    width: auto;

}

.nav__linkButton {
    color: #060A24;
}

.nav__linkButton:visited {
    color: #060A24;
}

.nav__linkButton:hover {
    color: #00F3BB;
}

.section__inicio {
    padding-top: 120px;
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 369px;
}

.inicio__text {
    width: 628px;
}

.section__inicio .button {
    margin: 0;
    align-self: flex-start;
}

.episodios {
    height: 900px;
    padding-bottom: 0;
}

.episodios__title {
    padding-top: 50px;
    padding-left: 200px;
}

.nosotros {
    height: 653px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nosotros__content {
    margin-top: 150px;
    padding-left: 100px;
}

.nosotros__title {
    width: auto;
    padding-top: 30px;
}

.nosotros__text {
    width: 464px;
    padding: 0 0 22px 0;
}

.nosotros__img {
    margin: 0;
}

.entrevistas__title {
    width: auto;
    padding-top: 0;
    padding-left: 200px;
    width: auto;
}

.entrevistas__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.topicos__title {
    width: auto;
    padding-left: 200px;
}

.topicos__container {
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.line--break {
    width: 245px;
}

.novedades {
    height: 518px;
}

.novedades__title {
    margin-top: 160px;
    width: auto;
    margin-bottom: 26px;
}


.episodios__container {
    width: 1240px;
    height: 536px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 72px;
    grid-row-gap: 72px;
}

iframe {
    width: 100%;
    overflow: hidden;
}

.nosotros {
    height: 555px;
    padding-bottom: 64px;
}

footer {
    height: 100px;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

}